.wrapper {
    background-color: #4b567a;
    height: 100%;
    width: 20%;
    border: 2px black solid;
    border-radius: 10px;
    margin-right: 5px;
}
.wrapper div {
    margin-top: 10px;
    font-weight: bold;
    font-size: large;

}
.wrapper a {
    text-decoration: none;
    color: black;
}


