.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(40, 44, 52, 0.71);
}

.App-header {
    background-color: #282c34;
    min-height: 80px;
    max-height: 10vh;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    flex-wrap: nowrap;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

.logoApp {
    min-height: 80px;
    max-height: 10vh;
    max-width: 110px;
    margin-left: 7px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoApp img {
    height: 75%;
    width: 75%;
    flex-shrink: 0;
}

.networkTitle {
    flex-grow: 1;
    text-align: end;
    padding-right: 30px;
}

.bodyWrapper {
    height: 100%;
    margin-top: 7px;
    display: grid;
    grid-template-columns: 15% 1fr;
}

